:root {
  --bg-green: #28d979;
  --bg-grey: #f0f0f0;
  --bg-white: #ffffff;
  --text-primary-1: #000000;
  --text-primary-active: #ffffff;
  --text-tag: #149063;
  --text-secondary-1: #3f3d3d;
  --text-secondary-active: #ebf9f2;
}
